word,duolingo_definition,model_definition,cleaned_definition
solamente,"only, just","only, just","only, just"
plaza,"plaza, bullring, seat","square, plaza","square, plaza"
lindo,"beautiful, lovely, nice","cute, pretty, handsome","cute, pretty, handsome"
principal,"main, central, front","main, principal","main, principal"
habitante,inhabitant,"inhabitant, resident","inhabitant, resident"
las afueras,outskirts,outskirts,outskirts
entero,"upright, payment, (I) pay","whole, entire; integer","whole, entire; integer"
parque de atracciones,amusement park,amusement park,amusement park
mayoría,"majority, most",majority,majority
cola,"line, queue","queue, line; tail","queue, line; tail"
a pie,on foot,on foot,on foot
quiosco,newsstand,kiosk,kiosk
frutería,fruit store,fruit shop,fruit shop
panadería,bakery,bakery,bakery
pasado mañana,day after tomorrow,the day after tomorrow,the day after tomorrow
anual,annual,"annual, yearly","annual, yearly"
circo,"cirque, circus",circus,circus
festival,festival,festival,festival
monumento,monument,monument,monument
barrio,neighborhood,neighborhood,neighborhood
terraza,terrace,"terrace, rooftop","terrace, rooftop"
enorme,"giant, huge, enormous","huge, enormous","huge, enormous"
se ríen,(they/you-plural)  laugh,"(they) laugh, are laughing","laugh, are laughing"
se cae,falls down,(he/she/it) falls down,falls down
al cruzar,upon crossing,when crossing,when crossing
se ríe,laugh,"(he/she/it) laughs, is laughing","laughs, is laughing"
se caen,fall,(they) fall down,fall down
pidieron,"asked, (?) did they order, ask",(they) asked for; ordered,asked for; ordered
funcionar,"to work, work, (to) function","(to) work, function","work, function"
nos caemos,fall,(we) fall down,(we) fall down
al ver,upon seeing,when seeing,when seeing
nos reímos,"(we)  laugh, (we)  laughed, laughed","(we) laugh, are laughing","(we) laugh, are laughing"
al entrar,"upon entering, Upon entering",upon entering,upon entering
te caes,fall,(you) fall down,(you) fall down
te ríes,laugh,"(you) laugh, are laughing","(you) laugh, are laughing"
pidió,"ordered, asked, ask",(he/she/it) asked for; ordered,asked for; ordered
al regresar,Upon returning,when returning,when returning
al llegar,Upon arriving,upon arriving,upon arriving
me caigo,"(I)  fall, (I)  let drop / fall, (I)  hang",(I) fall down,(I) fall down
me río,laugh,"(I) laugh, am laughing","(I) laugh, am laughing"
al salir,"(I) left, left",when leaving,when leaving
compre,"buy, buys, shop",(you formal imperative) buy,buy
repare,repair,(you formal imperative) repair,repair
empuje,"drive, go, drove",(you formal imperative) push,push
estacione,park,(you formal imperative) park,park
descanse,"(you) rest, rest",(you formal imperative) rest,rest
corte,"(I/he/she/it/you) cut down, slice / cut through!, break-up",(you formal imperative) cut,cut
licencia,license,"license, permit","license, permit"
envíe,"(you) send, sends",(you formal imperative) send,send
prepare,"prepare, (you) prepare, make",(you formal imperative) prepare,prepare
