word,definition
solamente,"only, just"
plaza,"plaza, bullring, seat"
lindo,"beautiful, lovely, nice"
principal,"main, central, front"
habitante,inhabitant
las afueras,outskirts
entero,"upright, payment, (I) pay"
parque de atracciones,amusement park
mayoría,"majority, most"
cola,"line, queue"
a pie,on foot
quiosco,newsstand
frutería,fruit store
panadería,bakery
pasado mañana,day after tomorrow
anual,annual
circo,"cirque, circus"
festival,festival
monumento,monument
barrio,neighborhood
terraza,terrace
enorme,"giant, huge, enormous"
se ríen,(they/you-plural)  laugh
se cae,falls down
al cruzar,upon crossing
se ríe,laugh
se caen,fall
pidieron,"asked, (?) did they order, ask"
funcionar,"to work, work, (to) function"
nos caemos,fall
al ver,upon seeing
nos reímos,"(we)  laugh, (we)  laughed, laughed"
al entrar,"upon entering, Upon entering"
te caes,fall
te ríes,laugh
pidió,"ordered, asked, ask"
al regresar,Upon returning
al llegar,Upon arriving
me caigo,"(I)  fall, (I)  let drop / fall, (I)  hang"
me río,laugh
al salir,"(I) left, left"
compre,"buy, buys, shop"
repare,repair
empuje,"drive, go, drove"
estacione,park
descanse,"(you) rest, rest"
corte,"(I/he/she/it/you) cut down, slice / cut through!, break-up"
licencia,license
envíe,"(you) send, sends"
prepare,"prepare, (you) prepare, make"
